.final{
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.lista{
  font-size: 2.5rem;
  color: black;
  padding: 3rem 0rem 0rem 6rem;
}

.red{
  padding: 3rem 7rem 0rem 4.5rem;;
}

.redes1{
  width: 50px;
  padding: 0rem 0rem 3rem 0rem;
}

.redes{
  width: 50px;
  padding: 0rem 0rem 2rem 0rem;
}
.redes2{
  width: 70px;
  padding: 0rem 0rem 3rem 0rem;
}
