
.his {
  padding: 12rem 0rem 0rem 0rem;
  text-align: center;
  font-size: 2.5rem;
  color: black;
}
.caja img {
  width: 30rem;
  float: left;
  margin-right: 3rem;
}
.evo {
  width: 69rem;
  justify-content: center;
}
.cin {
  padding: 0rem 11rem 0rem 3rem;
}
.par{
  margin: 0rem 0rem 20rem 0rem;
}
.video{
  padding: 3rem 0rem 3rem 40rem ;
}
iframe{
  width: 500px;
}
